# See docs.getsentry.com/on-premise/server for full instructions
#

version: '2'
services:
  base:
    build: .
    restart: always
    environment:
      # Run `docker-compose run web config generate-secret-key`
      # to get the SENTRY_SECRET_KEY value.
      # SENTRY_SECRET_KEY: ''
      SENTRY_MEMCACHED_HOST: memcached
      SENTRY_REDIS_HOST: redis
      SENTRY_POSTGRES_HOST: postgres
      SENTRY_EMAIL_HOST: smtp
      SENTRY_SECRET_KEY: {{ sentry_secret_key }}
      SENTRY_USE_SSL: 0
      SENTRY_DB_NAME: {{ sentry_db_user }}
      SENTRY_DB_USER: {{ sentry_db_user }}
      SENTRY_DB_PASSWORD: {{ sentry_db_password }}
      SENTRY_SINGLE_ORGANIZATION: 0
      SENTRY_SERVER_EMAIL: {{ sentry_server_email }}
      SENTRY_URL_PREFIX: {{ sentry_url_prefix }}
      SENTRY_LDAP_AUTH: {{ sentry_ldap_auth }}
      SENTRY_LDAP_SERVER_URI: {{ sentry_ldap_server_uri }}
      SENTRY_LDAP_BIND_DN: {{ sentry_ldap_bind_dn }}
      SENTRY_LDAP_BIND_PASSWORD: {{ sentry_ldap_bind_password }}
      SENTRY_LDAP_USER_DN: {{ sentry_ldap_user_dn }}
      SENTRY_LDAP_GROUP_DN: {{ sentry_ldap_group_dn }}
      SENTRY_LDAP_DEFAULT_SENTRY_ORGANIZATION: {{ sentry_ldap_default_sentry_organization }}
      SENTRY_METRICS_HOST: prometheusexporter
      SENTRY_METRICS_PORT: 8125

    volumes:
      - {{ sentry_home }}/data/sentry:/var/lib/sentry/files

  smtp:
    image: tianon/exim4
    restart: always
    hostname: {{ sentry_mailhost }}

  memcached:
    image: memcached:1.4
    restart: always

  redis:
    image: redis:3.2-alpine
    restart: always

  postgres:
    image: postgres:9.5
    restart: always
    environment:
      POSTGRES_USER: {{ sentry_db_user }}
      POSTGRES_PASSWORD: {{ sentry_db_password }}
    volumes:
      - {{ sentry_home }}/data/postgres:/var/lib/postgresql/data

  web:
    extends: base
    restart: always
    links:
      - redis
      - postgres
      - memcached
      - smtp
    ports:
      - "{{ sentry_web_port }}:9000"

  cron:
    extends: base
    restart: always
    command: run cron
    links:
      - redis
      - postgres
      - memcached
      - smtp

  worker:
    extends: base
    restart: always
    command: run worker
    links:
      - redis
      - postgres
      - memcached
      - smtp

  prometheusexporter:
    image: prom/statsd-exporter:latest
    command: -statsd.listen-udp=:8125
    ports:
      - "127.0.0.1:9102:9102"
