[Unit]
Description=Sentry is cross-platform crash reporting built with love
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory={{ sentry_home }}/build
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down
ExecRestart=/usr/bin/docker-compose down && /usr/bin/docker-compose up
User=root

[Install]
WantedBy=multi-user.target